.container
{
   margin-top: 30px;
}

.fa-facebook {

   color: #000000
 
 }

 .fa-instagram {

   color: #000000
 
 }

 .fa-twitter {

   color: #000000
 
 }
 
 .fa-telegram {

   color: #000000
 
 }

 .fa-linkedin {

   color: #000000
 
 }